* {
	box-sizing: border-box;
}

body {
	font-family: 'monaco', monospace;
	font-size: 12.5px;
}

h1 {
	font-size: 1em;
	font-weight: normal;
	margin: 16px 8px;
}

a {
	color: #000;
	text-decoration: none;
}

header {
	position: sticky;
	top: 16px;
}

footer {
	margin: 16px 8px;
}

footer a:hover {
	text-decoration: underline;
}

/* #title {

} */

#clear {
	display: none;
	color: red;
}

.tag {
	cursor: pointer;
}

.image-tag {
	cursor: pointer;
	display: none;
}

.image-tag:hover {
	color: #0f0;
}

#tags {
	margin: 16px 8px;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 16px 0 16px 8px;
}

.image-wrapper {
	width: 216px;
	height: auto;
	/*display: none;*/
}

.projectResource {	
	align-self: center;
	-webkit-text-size-adjust: none;
}

.image {
	max-height: 56px;
	max-width: 56px;
	height: auto;
	width: auto;
	cursor: zoom-in;
}

.video {
	/* z-index: 1; */
}

.text {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1px;
	line-height: 1.3em;
	padding: 5em;

	width: 39px;
	height: 56px;
	overflow-y: scroll;
	/* width: auto; */

	/* overflow: scroll; */
	/*border: 1px solid #eee;*/
	background-color: #f9f9f9B3;
}

.text::-webkit-scrollbar {
	display: none;
}

.text p {
	pointer-events: none;
}

.no-break {
	white-space: nowrap;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.select {
	cursor: pointer;
	transition: 0.15s background-color;
}

.select:hover {
	transition: 0.15s background-color;
	background-color: #ff8 !important;
}

.disabled {
	pointer-events: none;
	color: #eee !important;
}

.highlight {
	transition: 0.15s background-color;
	background-color: #ff8 !important;
}

#intro {
	width: 100vw;
	height: 100vh;
	padding: 16px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	cursor: pointer;
	z-index: 99;
}

#intro-image {
	max-width: 360px;
	max-height: 360px;
	width: auto;
	height: auto;
	position: fixed;
	top: 48vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

#intro-text {
	position: fixed;
	bottom: 8px;
	left: 16px;
	max-width: 640px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
}

#slideshow {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.image-slideshow {
	height: auto;
	width: auto;
	max-width: 100vw;
	max-height: 100vh;
	object-fit: contain;
	cursor: e-resize;
}

#clearTags {
	display: none;
	cursor: pointer;
	color: #000;
	transition: 0.15s color;
}

#clearTags:hover {
	color: #ff0000;
	transition: 0.15s color;
}

@media only screen and (max-width: 480px) {
  header {
    position: relative;
		top: 0;
  }
}